.controls {
  margin: 40px auto 0 auto;
  padding: 20px 30px;
  max-width: 600px;
}
@media(max-width: 400px) {
  .controls {
    margin: 0 auto;
  }
  .labels > .control-wrapper > div {
    visibility: hidden;
  }
  .labels > .control-wrapper > div.active {
    visibility: visible;
  }
}


.labels,
.sliders {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sliders > div,
.labels > div {
  width: 12.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sliders-header,
.sliders-footer {
  margin: 10px auto;
  color: #666;
  text-align: center;
}


.control-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  height: 150px;
  width: 18px;
}

.slider-wrapper > div:last-child {
  height: 100px;
}

